
* {
  box-sizing: border-box;
}

html, body  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;
}

header {
  background-color: #576675;
  padding: 1px;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-weight: bold ;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
.sidebar {
  float: left;
  width: 60%;
  height: 600px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 5px;
}

article {
  float: left;
  padding: 2px;
  width: 40%;
  color: black;
  background-color: rgba(204, 204, 204, 0.89);
  height: 600px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #576675;
  height: 60px;
  padding: 5px;
  text-align: center;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto ;
  background-color: #576675;
  grid-auto-rows: 295px;
  padding: 1;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  /* text-align: center; */
}
iframe{
border:solid 1px #777;
width:100%;
height:100%;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
