
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="topnav" id="myTopnav">
        <div class="title">The Jenkins Cemerony</div>
        <a href="/"><i class="fa fa-fw fa-home"style=' background-color:transparent'></i>Home</a>
        <a href="{% url 'rsvp' %}">RSVP</a>
        <a href="{% url 'us' %}" >About Us</a>
        <!-- <a href="{% url 'picture' %}">Pictures</a> -->
        <a href="{% url 'social' %}">Social Media links</a>
        <!-- <a href="{% url 'about' %}">About Site</a> -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </nav>

<div class="container">

{% block content %}
{% endblock %}
</ldiv>
